<%= render "layouts/header" %>
<%= render "layouts/left_sidebar" %>
<div class="span-12" style="background:#CFCFCF;padding:1em;">
    <h3><b>About The Okinawan Karate Club of Madison</b></h3>
    <h4>Philosophy</h4>
    <p>
      At the Okinawan Karate Club, we practice karate as a life-preserving art dedicated to the development of mind, body, and spirit. We emphasize training in karate both as a practical fighitng art and as a way to self-improvement. While we take our art and training seriously, we don't take ourselves too seriously.
    </p>
    <h4>Training</h4>
    <p>
      Training at the Okinawan Karate Club follows a traditional path to learing the karate of Okinawa. We practice 
    <dl>
      <dt>Kihon (basics)</dt>
      <dd>the fundamental techniques of karate</dd>
      <dt>Kata (forms)</dt>
      <dd>
        the classical patterns of movement, attack, and defense that define the essence of karate
      </dd>
      <dt>Kumite (sparring)</dt>
      <dd>
        exercises with one or more partners where techniques are applied against live attacks 
      </dd>
    </dl>      
    Using these methods we learn to master both the internal elements of karate (power, precision, ballance, and motion) as well as the external elements (distance, alignment, and timing). Additionaly, we also study the bunkai (analysis) of kata to discover the fighting applications and principles contained in the classic forms of karate. 
    </p>
    <h4>Instructor</h4>
    <p>
      Andrew de Laix first took an interest in karate as a teen training at a Chuck Norris franchise school in his hometown of Tucson, Arizona. While doing graduate work at The Ohio State University, he joined the Ohio State Karate Club and studied Matsubayashi-ryu karate with Senseis Richard and Jo McCulty. After completing his Ph.D. in astrophysics, Andrew accepted a postdoctoral research appointment at Case Western Reserve University in Cleveland, Ohio and continued his training in Matsubayashi-ryu with Sensei Jules Pommier, ultimately attaining the rank of Sankyu. He then relocated to Champaign, Illinois, where for several years he studied Shaolin and mantis-style Kung Fu under Dr. Keychun Song and his senior students.  Marriage and family obligations brought Andrew to the San Francisco Bay Area, where he took a hiatus from training. Rekindling his interest in the martial arts, Andrew joined the Okinawan Karate Club of San Francisco, where he trained with Sensei Michele Elefante. On September 1, 2012, he was granted the rank of Shodan in the Shobayashi-ryu and Shudokan styles of Karate. Andrew currently resides in Madison, Wisconsin, with his wife and son; while not practicing karate or teaching at the Okinawan Karate Club of Madison, he works as a software engineer for Wolfram Research, Inc. in Champaign, Illinois.
    </p>
</div>
<div class="span-6 last">
  <%= render "layouts/contact" %>
  <hsidebar>Affiliated Dojos</hsidebar>
  <ul class="links" style="list-style-type:none;">
    <li>
      <%= link_to "Okinawan Karate Club of Ann Arbor \
(Barb Christensen Sensei & Chief Instructor of the Okinawan Karate Clubs)",
    "http://www.okinawankarateclub.com/Ann_Arbor_Karate/index.htm" %>
    </li>
    <li>
      <%= link_to "Okinawan Karate Club of Dallas (Ilene Smoger Sensei)",
        "http://www.okinawankarateclub.com/" %>
    </li>
    <li>
      <%= link_to "Okinawan Karate Club of Atlanta (Tim Kelly Sensei)",
        "http://www.atlantaokinawankarate.com/atlanta_martial_arts.htm" %>
    </li>
    <li>
      <%= link_to "Okinawan Karate Club of Arlington (Jackie Pinson Sensei)",
        "http://www.okinawankaratearlington.com/" %>
    </li>
    <li>
      <%= link_to "Okinawan Karate Club of Latana (Wayne Murphy Sensei)",
        "http://www.okinawankarateclub.com/Latana_Karate/index.htm" %>
    </li>
    <li>
      <%= link_to "Okinawan Karate Club of San Francisco (Michele Elefante Sensei)",
        "http://okinawankaratesanfrancisco.com" %>
    </li>
    <li>
      <%= link_to "Okinawan Karate Club of Sacremento (Michele Elefante Sensei)",
        "http://karatesacramento.com/" %>
    </li>
  </ul>
</div>
<%= render "layouts/footer" %>