<%= render "layouts/header" %>
<%= render "layouts/left_sidebar" %>
<div class="span-18" style="background:#CFCFCF;padding:1em;">
	<h1>Practical Karate</h1>
	<p>
	What is practical karate and why is there even a need for that modifier? Historically the karate that burst from Japan after the war was significantly modified from its original Okinawan source art. What started out as a no-nonsense fighting method for self-defense became a sport and a means of self-improvement derived a martial heritage. In the same way that jujitsu, the battlefield method of hand-to-hand combat, was transformed into the sport of judo, the rustic (at least to the Japanese) fighting art of karate was civilized, but the connection with self-defense became attenuated. Techniques and skills most useful for scoring points in tournaments were emphasized, while those most effective for responding to violent assault were obscured or even lost.
	</p>
	<p>
	Practical karate is the the revival of the original karate that developed in Okinawa and that was dedicated to life preservation. The true strategies and fighting techniques, many of which would never be allowed in a sporting arena because they can cause serious and even permanent injury, have been reconstructed with the focus on life protection in the face of a criminal, violent attack. When faced with the prospect of serious injury or even death, a violent or even deadly response is legally and morally justified to protect oneself. Practical karate provides one with the tools to respond to this kind of assault when unarmed based on the fighting knowledge collected in Okinawa.
	</p>
	<p>
	The old masters of Okinawa encoded their techniques and strategies into kata, prearranged fighting patterns that form the essence of Okinawan karate. The bunkai, the analysis and application of the kata, was often closely held and only fully taught to the most trusted of students. Unfortunately, this secretiveness and the politics of transmission of karate from Okinawa to Japan and the rest of the world has broken the chain of this oral history. The kata survive, but their fighting interpretation doesn't. Thankfully though the work of karate researchers like  <%= link_to "Iain Abernethy", "https://www.iainabernethy.co.uk" %>, <%= link_to "Patrick McCarthy", "http://www.koryu-uchinadi.com" %>, and others we can decode the kata and derive effective and credible methods of self-defense. Practical karate is necessarily a reconstruction and interpretations can vary in specifics, but ultimately we can connect back to the roots of karate and learn to protect ourselves as the masters of Okinawa did.
	</p>
	<p>
	Practical karate restores the effectiveness of kata. We link self-protection directly to kata, which then becomes more than mere exercise or abstract development of technique. Rather kata becomes an active method of training responses to violent attack. The moves are imbued with meaning that the karateka can visualize during his or her practice to both mentally and physically prepare for personal defense. From the kata we derive the kumite and related drills, which allow one to practice with partners to develop the sense of applying techniques on a real opponent, with the external elements supplementing internal development. Kata, kumite, and self-defense are integrated and self-reinforcing, producing a unified fighting art well suited to life preservation&mdash;the ultimate expression of practical karate.
	</p>
</div>
<%= render "layouts/footer" %>